#wrap{
	box-shadow: 0 0 20px #000, 0 0 20px rgba(0,0,0,0.5) inset;
	-webkit-box-shadow:  0 0 20px #000, 0 0 20px rgba(0,0,0,0.5) inset;
	-ms-box-shadow:  0 0 20px #000, 0 0 20px rgba(0,0,0,0.5) inset;
	-o-box-shadow:  0 0 20px #000, 0 0 20px rgba(0,0,0,0.5) inset;
	-moz-box-shadow:  0 0 20px #000, 0 0 20px rgba(0,0,0,0.5) inset;
}

/*-----head-----*/
#header{ 
	border-bottom: 2px solid #043E55; 
	padding: 10px 15px;

	position: relative;
}
 
#header .propic{
	display: block;
	text-align: center;
	font-size: 50px;
	margin: 30px auto;
}

#header .info{
	text-align: right;
	margin-top: 15px;
}

#email{
	margin-left: 20px;
}

#language{
	font-weight: 800;
	position: absolute;

	top: 10px; 
	right: 30px;
}


/*-----content-----*/
#content{
	min-height: 800px;
	height:auto;
	line-height: 1.5em;
}


/*-----content title-----*/
#content .title{
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	cursor: pointer;
    font-size: 18px;
}

#content .title:hover{
	background-color: #99CCFF;
}

.chapter .title .title-icon{
	display: inline;
	float: left;
	width:20px;
	height:20px;
	margin:10px;
	background-image: url("../images/learnicon.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	overflow: hidden;
}

.chapter .title .hide-info-icon, .chapter .title .show-info-icon{
	float: right;
	margin: 10px;
}

.chapter .title .show-info-icon{
	display: none;
}
 
.chapter .subinfo span{
	display: inline-block;
}

.chapter .subinfo .subtime{
	text-align: right;
}

.chapter .points{
    padding: 0 40px;
}




/* ----------------footer */

.footer-wrap{
	background: #192332;
	color: #c8c8c8;
	min-height: 150px;
}

.footer-wrap .logo{
	height: 100%;
}

.footer-wrap .logo i{
    display: block;
    font-size: 30px;
    color: white;
    margin: 60px auto;
    width: 30px;
}

.footer-wrap .sitemap{
	height: 100%;
	padding-top: 50px;
}


.footer-wrap .sitemap .links a{
    font-size: 12px;
    margin-bottom: 4px;
    color: #c8c8c8;
    display: block;
    font-weight: 600;
}

.footer-wrap .sitemap .icons{
	padding-top: 15px;
}

.footer-wrap .sitemap .icons a{
	font-size: 20px;
	margin-right: 20px;
	color: #c8c8c8;
}





/* ------------ media query */
.container{
	height: auto;
}

@media (min-width: 1600px) {
  .container {
    width: 1400px;
  }
}
