/*--------reset--------*/
*{ padding: 0; margin:0; }

html, body{
   height:100%;
}

ul, li{
	list-style:none;
}

a{
	text-decoration: none;
	color:black;
	display: block;
	font-size: 17px;   /*字体*/
	font-weight: 550;
}

/*-------menu---------*/
.menu{
	background-color: rgba(252,241,227,0.6);
	box-shadow: 0 3px 20px rgb(252,241,227), 0 0 20px rgba(0,0,0,0.3) inset;
	width:100%;
	height:50px;
	position:fixed;
	top:0px;
	float:left;
	z-index: 999;	
}

.logo{
	/*background: red;*/
	width:15%;
	height:100%;
	float:left;
}

/*---------option---------*/
.pagelink{
	/*background: blue;*/
	width:85%;
	height:100%;
	float:left;
}

     /*---------first-calss menu---------*/
.pagelink ul{
   width:100%;
   height:100%;
}

.pagelink ul li{
	width:130px;
	height:100%;
	float:left;
	position: relative;
}

.pagelink ul li:hover{
	background-color: rgba(252,224,248,0.4);
	border-bottom: 3px #503709 solid;
	border-right: 3px #503709 solid;
	border-bottom-right-radius:6px;
	box-shadow: 6px 6px 20px #888888;
}

.pagelink ul li a{
	width:100%;
	height:auto;
	float:left;
	margin-top:20px;
	text-align: center;
}

     /*---------second-calss menu---------*/
.pagelink ul li ul{
	position:absolute;
	left:0;
	top:50px;
	display: none;
}

.pagelink ul li:hover ul{
	display: block;
}

.pagelink ul li ul li{
	float:none;
	/*background-color: rgba(255,238,221,0.5);*/
	background-color: rgba(252,241,227,0.6);

}



/*-------background----------*/

/*preview imgs*/
.picwrap{
	width:100%;
	height:100%;
	overflow: hidden;
	position:relative;
	left:0;
	top:0;
	z-index: 900;
}

.picwrap #pic{
	display: block;
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
}

.picwrap #pic li, .picwrap #pic li a, .picwrap #pic li img{
    display: block;
	width:100%;
	height:100%;
}

.picwrap #list{
	display: block;
	width:100px;
	height:50px;
	position:fixed;
	left:50%;
	bottom:7%;
	margin-left: -50px;
	/*background:red;*/
	opacity: 0.8;
	float:left;
	opacity: 1;
	z-index: 980;
}

.picwrap #list li{
	display: inline-block;
	float:left;
	width:7px;
	height:7px;
	background: rgb(30,30,30);
	box-shadow: 3px 3px 2px #888888;
	margin: 30px 5px;
}

.picwrap #list li a{
	display: block;
	float:left;
	width:100%;
	height:100%;
}



.picwrap #list .liston{
	background: white;
}
