/*--------reset--------*/
*{ padding: 0; margin:0; }

html, body{
   height:100%;
   /*cursor:pointer;*/
}

ul, li{
	list-style-type:none;
}

a{
	text-decoration: none;
}

/*-------menu---------*/
.menu{
	background: rgba(255,238,221,0.7); 
	width:100%;
	height:60px;
	position:fixed;
	top:0px;
	float:left;
	z-index: 999;	
}

.logo{
	/*background: red;*/
	width:15%;
	height:100%;
	float:left;
}
.pagelink{
	/*background: blue;*/
	width:85%;
	height:100%;
	float:left;
}

.pagelink ul{
   width:100%;
   height:100%;
   display: block;
}

.pagelink ul li{
	display: inline-block;
	width:20%;
	height:100%;
	float:left;
}

.pagelink ul li a{
	display:inline-block;
	width:100%;
	height:100%;
	float:left;
	margin:20px 0;
	text-align: left;
	font-size:20px;

}

/*-------background----------*/

/*preview imgs*/
.picwrap{
	width:100%;
	height:100%;
	overflow: hidden;
	position:relative;
	left:0;
	top:0;
	z-index: 900;
}

.picwrap #pic{
	display: block;
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
}

.picwrap #pic li img{
    display: block;
	width:auto;
	height:auto;
}

.picwrap #list{
	display: block;
	width:100px;
	height:50px;
	position:fixed;
	left:50%;
	bottom:7%;
	margin-left: -50px;
	/*background:red;*/
	opacity: 0.8;
	float:left;
	opacity: 1;
	z-index: 980;
}

.picwrap #list li{
	display: inline-block;
	float:left;
	width:7px;
	height:7px;
	background: rgb(30,30,30);
	box-shadow: 3px 3px 2px #888888;
	margin: 30px 5px;
}

.picwrap #list li a{
	display: block;
	float:left;
	width:100%;
	height:100%;
}



.picwrap #list .liston{
	background: white;
}
