#universities{
	box-shadow: 0 0 5px black;
}

.section-title{
	margin: 50px -15px;
}

.tju{
	border-top: 1px solid #ccc;
}

.cuhk{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.pic{
	text-align: center;
}

.pic a{
	display: block;
}

.letters{
	padding: 0 50px;
}

#gallery{
	padding: 0 50px;
	margin-bottom: 50px;
	position: relative;
}

#gallery .box{
	display: inline-block;

	padding: 5px;
	box-shadow: 0 0 10px black;
	margin: 2px;

	float:left;
} 


/* ----------------footer */

#footer{
	display: none;
}


/* ------------ media query */
#gallery .box img{
	width: 200px; 
}

@media (min-width: 992px){
	#gallery .box img{
	    width: 250px;
    }
}

@media (min-width: 1200px){
	#gallery .box img{
	    width: 250px;
    }
}

@media (min-width: 1600px) {
    #gallery .box img{
	    width: 300px;
    }
}